html,
body {
   width: 100%;
   height: 100%;
}
.error-msg{
  color: red;
}
.bg-holder {
   height: 750px;
   width: 100%;
   z-index: 1;
}
.bg-holder2 {
   height: 200px;
   width: 100%;
   z-index: 1;
}
.bg-holder#pic1 {
   background-image: url("../../public/images/banner1.jpg");
   background-attachment: fixed;
   background-repeat:no-repeat;
   background-size:100%;
}
.bg-holder2#pic1 {
   background-image: url("../../public/images/banner1.jpg");
   background-attachment: fixed;
   background-repeat:no-repeat;
   background-size:100%;
}

@media(max-width:991px) {
   .bg-holder {
      height: 750px;
      width: 100%;
      z-index: 1;
   }
   .bg-holder#pic1 {
      background-image: url('http://s1.postimg.org/94djh1m4v/pic1_bigger.jpg');background-attachment: fixed; background-repeat:no-repeat; background-size:100%;
   }
   .bg-holder#pic2 {
      background-image: url('http://s1.postimg.org/l7iv4lx73/pic2_bigger.jpg'); background-attachment: fixed;background-repeat:no-repeat; background-size:100%;
   }
   .bg-holder#pic3 {
      background-image: url('http://s1.postimg.org/f41akp6xb/pic3_bigger.jpg');background-attachment: fixed;background-repeat:no-repeat; background-size:100%;
   }
}
@media(max-width:767px) {
   .bg-holder {
      height: 384px ;
      width: 100% ;
      z-index: 1 ;
   }
   .bg-holder#pic1 {
      background-image: url('http://s1.postimg.org/x5kfii0y7/pic1.jpg'); background-attachment: fixed;background-repeat:no-repeat; background-size:100%;
   }
   .bg-holder#pic2 {
      background-image: url('http://s1.postimg.org/x5kfii0y7/pic1.jpg');background-attachment: fixed;background-repeat:no-repeat; background-size:100%;
   }
   .bg-holder#pic3 {
      background-image: url('http://s1.postimg.org/4q5257bkf/pic3.jpg'); background-attachment: fixed;background-repeat:no-repeat; background-size:100%;
   }
}

.main-login{
   background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
  height: auto!important;
  padding: 8px 12px !important;
}
.input-group {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
  border: 1px solid #ccc;
  margin-top: 28px;
  padding: 6px 12px;
  color: #666;
  text-shadow: 0 1px #fff;
  cursor: pointer;
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px 3px;
  -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
  -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
  box-shadow: 0 1px #fff inset, 0 1px #ddd;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
   margin-top: 30px;
   margin: 0 auto;
   max-width: 400px;
   padding: 10px 40px;
   background:#009edf;
   color: #FFF;
   text-shadow: none;
   -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
   -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
   box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
  color: #009edf;
  font-size: 17px;
}

.login-button{
   margin-top: 5px;
}

.login-register{
   font-size: 11px;
   text-align: center;
}
.footer{
   border-top: 1px solid black;
   margin-top: 20px;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
